# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Local vector database
data/chroma/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Temporary files
*.tmp

desktop.ini
